@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.card-wrapper {
  font-family: "Urbanist", sans-serif;
  width: 100%;
  max-width: 820px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapsable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  border: solid rgb(243, 242, 242) 1px;
  border-radius: 0.25rem;
}

.collapsable-title,
.card-title {
  padding: 0.5rem;
  font-weight: bold;
}

.card-title {
  font-size: x-large;
}

.card-subtitle {
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
}
.collapsable button {
  background-color: white;
  padding: 0.5rem;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: solid rgb(243, 242, 242) 1px;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.card-image {
  width: 100%;
  text-align: center;
}
.card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-footer button {
  background-color: white;
  padding: 1rem;
  width: 100%;
  border: solid rgb(243, 242, 242) 1px;
  border-radius: 0.25rem;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: large;
}
